body {
  margin: 0;
  font-family: "MS Sans Serif", Arial;
  background: #008080;
}

/* GLASS */
.glass {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 20px;
}

/* BOOT SCREEN */
#boot-screen {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boot-box {
  text-align: center;
}

/* BUTTON */
button {
  padding: 8px 15px;
  cursor: pointer;
  border: 1px solid black;
  background: #c0c0c0;
}

/* DESKTOP */
#desktop {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.icon {
  width: 80px;
  margin: 20px;
  cursor: pointer;
  color: white;
}

/* WINDOW */
.window {
  position: absolute;
  top: 120px;
  left: 200px;
  width: 320px;
  background: #c0c0c0;
  border: 2px solid black;
}

.hidden {
  display: none;
}

.titlebar {
  background: #000080;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.content {
  padding: 10px;
  color: black;
}
